@{
    ViewData["Title"] = "IKT-Fag";
}

<div class="container">
    <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">Test</p>
    </div>

    @ViewData["vmware"]
</div>
